<section class="home">
    <div class="image">
        <img src="./images/me/display-home.JPG" class="text-white" alt="Shashank Reddy Nallu">
    </div>

    <div class="content">
        <h3 class="my-intro">Hello, I am Shashank</h3>
        <!-- <span class="type-writer">Software Developer</span> -->
        <span class="d-inline-block" aria-label="Software Developer">
            &nbsp;<span class="d-inline-block typewriter"></span>
        </span>
        <p>
            Turning ideas into dynamic, responsive, and scalable web solutions with clean code, modern frameworks, and seamless user experiences across all devices.
        </p>
        <a routerLink="/about" class="btn"> About me <i class="fas fa-user"></i> </a>
    </div>
</section>